@import "tailwindcss";

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.card-fade-out {
  animation: fadeOutScale 0.6s ease-out forwards;
}

.card-enter {
  animation: fadeOutScale 0.6s ease-out reverse forwards;
}